/.DS_Store
/log/*
/tmp/*
/storage/*
node_modules/
vendor/bundle/

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.env.production
.DS_Store
.bundle/
.config.environments.production.rb
# Ignore all environment files.
/.env*.env
.env
env
