.simple-calendar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 14px;
}

.simple-calendar table {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.simple-calendar tr {
  border-collapse: collapse;
}

.simple-calendar th {
  padding: 8px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 14.285%; /* 7等分 */
}

.simple-calendar td {
  padding: 8px;
  height: 120px; /* 見やすい高さに調整 */
  vertical-align: top;
  width: 14.285%; /* 均等割 */
  border: 1px solid #ddd;
  background: hwb(40 69% 0%);
  box-sizing: border-box;
  position: relative;
}

/* 日付の数字部分（.day はクラス） */
.simple-calendar .day {
  font-weight: bold;
  margin-bottom: 4px;
}

/* 曜日別スタイル */
.simple-calendar .wday-0 {
  background-color: #ffeaea;
  color: #ff505c;
}

.simple-calendar .wday-6 {
  background-color: #d4ebff;
  color: #5984dc;
}

/* 今日 */
.simple-calendar .today {
  background-color: #ffffc0;
}

/* 前月・翌月の日 */
.simple-calendar .prev-month,
.simple-calendar .next-month {
  background-color: #ddd;
  color: #999;
}

/* イベントありの日 */
.simple-calendar .has-events {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5em;
  margin-top: 10px;
}

/* カレンダーのナビゲーション */
.simple-calendar .calendar-heading nav {
  display: inline-block;
  margin-bottom: 10px;
}
