.simple-calendar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 14px;
}

.simple-calendar table {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  table-layout: fixed;
}

.simple-calendar tr {
  border-collapse: collapse;
  width: 100%;
}

.simple-calendar th {
  padding: 8px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  width: 14.285%; /* 7等分 */
}

.simple-calendar td {
  padding: 8px;
  height: 120px; /* 見やすい高さに調整 */
  vertical-align: top;
  width: 14.258%; /* 均等割 */
  border: 1px solid #ddd;
  background: hwb(40 69% 0%);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

/* 日付の数字部分（.day はクラス） */
.simple-calendar .day {
  font-weight: bold;
  width: 100%;
}

/* 曜日別スタイル */
.simple-calendar .wday-0 {
  background-color: #ffeaea;
  color: #ff505c;
}

.simple-calendar .wday-6 {
  background-color: #d4ebff;
  color: #5984dc;
}

/* 今日 */
.simple-calendar .today {
  background-color: #ffffc0;
　border: 1px solid #000000;
}

/* 前月・翌月の日 */
.simple-calendar .prev-month,
.simple-calendar .next-month {
  background-color: #ddd;
  color: #999;
}

/* イベントありの日 */
.simple-calendar .has-events {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;    
  font-size: 1em;
  -webkit-text-overflow: ellipsis; /* Safari用 */
  -o-text-overflow: ellipsis; /* Opera用 */
}

/* カレンダーのナビゲーション */
.simple-calendar .calendar-heading nav {
  display: flex;
  margin-bottom: 10px;
}
.day-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.event-link-wrapper {
  display: flex;
  border: 1px solid;
　gap: 2px;
  overflow: hidden;
  background-color: #ddd; 
}

.event-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
  min-width: 0;
  font-size: 12px;
  background-color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}
