<div class="event-details">
  <h1>イベント詳細</h1>
  <p><strong>イベント名:</strong> <%= @event.title %></p>
  <p><strong>開始日時:</strong> <%= @event.start %></p>
  <p><strong>終了日時:</strong> <%= @event.end %></p>
  <p><strong>詳細:</strong> <%= @event.description %></p>
</div>
